body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
}

#header-container
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px; /* Fixed height for the header */
    background-color: white;
    color: #064d1b;
    display: flex;
    align-items: left;
    border-bottom: 1px solid black;
    z-index: 1000; /* Ensure header is above other elements */
}

#header {
    background-color: white;
    flex: 1; /* Allow header to take full width */
    color: #064d1b;
    text-align: left;
    padding: 0px;
    font-family: sans-serif;
    font-size: 24px;
    border: 1px solid black;
}

#header h1 {
    margin-bottom: 4px; /* Reduce space between h1 and p */
    line-height: 1.2; /* Tighter line height */
    margin-top: 10px; /* Remove extra space above the header */
}

#header p {
    margin-top: 0; /* Remove extra space above the paragraph */
    line-height: 1.2;
}

#layout-container {
    display: flex; /* Flexbox to layout sidebar and map container horizontally */
    height: calc(100vh); /* Account for the header height */
    margin-top: 120px; /* Push down the layout below the header */
    padding: 0px;
    box-sizing: border-box; /* Include padding in height calculation */
    border: 1px solid black;
}

#sidebar {
    width: 30%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0%;
    font-family: sans-serif;
    overflow-y: auto;
    position: relative;
    border: 1px solid black;
}

#description h3 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

#description p {
    font-size: 14px;
    color: #666;
}

#plant-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 20px;
    border-radius: 8px;
}

#plant-subtitle {
    font-size: 18px;
    margin-top: 20px;
    font-weight: 600;
}

#plant-subtitle,
#plant-description,
#plant-details {
    margin-bottom: 12px;
}

#plant-image-caption {
    font-size: 12px;
    color: #666;
    font-style: italic;
    text-align: center;
    margin-top: 6px;
}

#map-container {
    flex-grow: 1; /* Map container takes up remaining space */
    margin-left: 0px;
    border: 1px solid black;
    overflow: hidden;
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

#text-overlay {
    padding: 16px 20px;
    color: #333;
    border-radius: 8px;
    z-index: 1;
    font-family: sans-serif;
    max-width: 100%;
}

#title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#description {
    font-size: 14px;
    line-height: 20px;
}

/* Popup styling */
.mapboxgl-popup {
    padding-bottom: 5px;
}

.mapboxgl-popup-close-button {
    display: none;
}

.mapboxgl-popup-content {
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    padding: 0;
    width: 250px;
}

.mapboxgl-popup-content-wrapper {
    padding: 1%;
}

.mapboxgl-popup-content h3 {
    background: rgb(61, 59, 59);
    text-align: center;
    color: #fff;
    margin: 0;
    display: block;
    padding: 15px;
    font-weight: 700;
    margin-top: -5px;
}

.mapboxgl-popup-content h4 {
    margin: 0;
    display: block;
    padding: 10px 3px 10px 10px;
    font-weight: 400;
}

.mapboxgl-container {
    cursor: pointer;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
    margin-top: 3px;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
    border-bottom-color: rgb(61, 59, 59);
}
